/*HEADER*/
#header{
    height: 145px;
    background: #F0F0F0;
}

#logo{
    padding: 20px;
    margin-left: 20px;
    float:left;
}

#logo img{
    float:left;
    height: 100px;
}

#logo a{
    float:left;
    font-size: 2em;
    letter-spacing: 4px;
    font-family: 'Open Sans', Helvetica, Arial;
    text-transform: uppercase;
    color: #D93535;
    font-weight: bold;
    text-decoration: none;
    margin-top: 18px;
    margin-left: 25px;
    text-shadow: 0px 2px 1px #D93535;
    transition: all 300ms;
}

#logo a:hover{
    text-shadow: 0px 2px 1px #BD2000, 0px 0px 4px #BD2000;
}

.help-block {
    background: red;
    width: 100% !important;
}

#Dvd{
    width: 100% !important;   
}

footer{
    width: 100%;
    background: #F0F0F0;   
}

